doctype html
html
    head
        include header.pug
        script(src="agreements.js")
        script(src="game.js")
        script(src="GameManager.js")
        script(src="MapManager.js")
        script(src="SpriteManager.js")
        script(src="SoundManager.js")
        script(src="EventManager.js")
    body
        div#mainWindow
            div#buttonsUpper
                div#help
                    p Помощь
                div#records
                    p Рекорды
                div#exit
                    p Выход
            div#game
                canvas#gameCanvas(width="375" height="500")
