doctype html
html
    head
        include header.pug
        script(src="menu.js")
    body
        div#menu
            form#playerInfo
                p Введите имя
                input(type="text" name="name" form="playerInfo" required)
                button#startGameButton(onClick="startGame()" form="playerInfo") Играть!
