doctype html
html
    head
        include header.pug
        script(src="menu.js")
    body
        div#menu
            form#playerInfo
                h1 Вход в игру
                p Введите имя:
                input#inputName(type="text" name="name" form="playerInfo" required)
                button#startGameButton(onClick="startGame()" form="playerInfo") Играть!
